In [2]:
import pandas as pd
df = pd.read_csv('1y apple.csv')
type(df)

pandas.core.frame.DataFrame

In [24]:
from datetime import datetime

In [25]:
import numpy as np
import matplotlib.pyplot as plt

In [18]:
df

                     Date Close/Last     Volume      Open       High       Low
0     2023-10-30 00:00:00    $170.29   51130960   $169.02    $171.17   $168.87
1     2023-10-27 00:00:00    $168.22   58499130   $166.91    $168.96   $166.83
2     2023-10-26 00:00:00    $166.89   70625260   $170.37  $171.3775   $165.67
3     2023-10-25 00:00:00    $171.10   57156960   $171.88    $173.06   $170.65
4     2023-10-24 00:00:00    $173.44   43816640   $173.05    $173.67   $171.45
...                   ...        ...        ...       ...        ...       ...
1252  2018-11-06 00:00:00   $50.9425  127098880    $50.48     $51.18  $50.4225
1253  2018-11-05 00:00:00   $50.3975  264288680   $51.075   $51.0975  $49.5425
1254  2018-11-02 00:00:00     $51.87  364186240  $52.3875   $53.4125  $51.3575
1255  2018-11-01 00:00:00    $55.555  211816280  $54.7625     $55.59  $54.2025
1256  2018-10-31 00:00:00    $54.715  152067240    $54.22   $55.1125   $54.155

[1257 rows x 6 columns]

In [32]:
df.columns

Index(['Date', 'Close/Last', 'Volume', 'Open', 'High', 'Low'], dtype='object')

In [30]:
df['Date']=pd.to_datetime(df['Date'], format='%m/%d/%Y %I:%M:%S %p')

In [36]:
df.dtypes
df['high new']=df['High'].str.replace('$','').astype(float)
dfnew['Date'

In [37]:
df.set_index('Date').resample('M').sum()

,Close/Last,Volume,Open,High,Low,high new
Date,,,,,,
2018-10-31,$54.715,152067240,$54.22,$55.1125,$54.155,55.1125
2018-11-30,$55.555$51.87$50.3975$50.9425$52.4875$52.1225$...,3808828080,$54.7625$52.3875$51.075$50.48$51.4925$52.495$5...,$55.59$53.4125$51.0975$51.18$52.515$52.53$51.5...,$54.2025$51.3575$49.5425$50.4225$51.0325$51.68...,1018.2337
2018-12-31,$46.205$44.1725$43.68$42.1225$42.40$42.1575$42...,3557153840,$46.115$45.2375$42.94$43.3725$41.25$42.915$42....,$46.235$45.5975$43.695$43.6225$42.5225$42.9475...,$45.3025$44.0675$42.605$42.075$40.8325$41.75$4...,794.7700
2019-01-31,$39.48$35.5475$37.065$36.9825$37.6875$38.3275$...,3282131400,$38.7225$35.995$36.1325$37.175$37.39$37.8225$3...,$39.7125$36.43$37.1375$37.2075$37.955$38.6325$...,$38.5575$35.50$35.95$36.475$37.13$37.4075$37.7...,816.5350
2019-02-28,$41.63$42.8125$43.545$43.56$42.735$42.6025$42....,1882423520,$41.74$41.8525$43.215$43.6625$43.10$42.2475$42...,$42.245$42.9138$43.77$43.8925$43.485$42.665$42...,$41.4825$41.82$43.0875$43.2133$42.585$42.105$4...,821.1867
...,...,...,...,...,...,...
2023-06-30,$180.09$180.95$179.58$179.21$177.82$180.57$180...,1297863400,$177.70$181.03$182.63$179.965$178.44$177.895$1...,$180.12$181.78$184.951$180.12$181.21$180.84$18...,$176.9306$179.26$178.035$177.43$177.32$177.46$...,3894.1960
2023-07-31,$192.46$191.33$191.81$190.68$188.61$188.08$189...,996257010,$193.78$191.565$189.84$191.41$189.26$189.16$18...,$193.88$192.98$192.02$192.67$189.99$189.30$191...,$191.76$190.62$189.20$190.24$187.035$186.60$18...,3878.5359
2023-08-31,$195.605$192.58$191.17$181.99$178.85$179.80$17...,1323817310,$196.235$195.04$191.57$185.52$182.13$179.69$18...,$196.73$195.18$192.37$187.38$183.13$180.27$180...,$195.28$191.8507$190.69$181.92$177.35$177.58$1...,4203.7494
2023-09-30,$189.46$189.70$182.91$177.56$178.18$179.36$176...,1337873850,$189.485$188.28$188.40$175.18$178.35$180.07$17...,$189.92$189.98$188.85$178.21$180.239$180.30$18...,$188.28$187.61$181.47$173.54$177.79$177.34$174...,3579.9180
2023-10-31,$173.75$172.40$173.66$174.91$177.49$178.99$178...,1127999790,$171.22$172.255$171.09$173.79$173.80$176.81$17...,$174.30$173.63$174.21$175.45$177.99$179.05$179...,$170.93$170.82$170.97$172.68$173.18$175.80$177...,3699.0475