In [8]:
import pandas as pd
import matplotlib.pyplot as plt

lien_apple_un_an = "1y apple.csv"

df = pd.read_csv(lien_apple_un_an)
pd.to_datetime(df['Date'])
df.head()

         Date Close/Last    Volume     Open       High      Low
0  10/30/2023    $170.29  51130960  $169.02    $171.17  $168.87
1  10/27/2023    $168.22  58499130  $166.91    $168.96  $166.83
2  10/26/2023    $166.89  70625260  $170.37  $171.3775  $165.67
3  10/25/2023    $171.10  57156960  $171.88    $173.06  $170.65
4  10/24/2023    $173.44  43816640  $173.05    $173.67  $171.45

In [20]:
temps=df['Date']
high_auctions=df['High']
low_auctions=df['Low']

pandas.core.series.Series

In [23]:
df.dtypes

#problème sur les types des données de chaque colonne : il y a un signe $ devant chaque donnée numérique

Date          object
Close/Last    object
Volume         int64
Open          object
High          object
Low           object
dtype: object